<!DOCTYPE html>
<html lang="tr" class="{{ mehmet }}">

<head>
  <title>Mehmet Adamızda mı?</title>
  <meta name="description" content="Mehmet Adamızda mı? {{
    "Adamızda!" if mehmet == 'adamizda' else "Adamızda değil :("
  }}">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="https://mehmet.adamizda.com/">
  <link rel="stylesheet" href="static/css/styles.css" />
</head>
<body>
  <main>
    {% if mehmet == 'adamizda' %}
      <p class="adamizda-text">
        Mehmet Adam&inodot;zda &#127965;&#65039;
      </p>
    {% else %}
      <p class="adamizda-degil-text">
        Mehmet Adam&inodot;zda de&gbreve;il &#129394;
      </p>
    {% endif %}
  </main>
</body>
</html>
