<!DOCTYPE html>
<html lang="tr" class="R_HTML_CLASS">

<head>
  <title>Mehmet Adamızda mı?</title>
  <meta name="description" content="Mehmet Adamızda mı? R_DESCRIPTION">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="https://mehmet.adamizda.com/">
  <link rel="stylesheet" href="static/css/styles.css" />
</head>
<body>
  <main>
    <p class="R_P_CLASS">
      R_P_TEXT
    </p>
  </main>
</body>
</html>
