<!DOCTYPE html>
<html lang="{{ language }}" class="{{ mehmet }}">

<head>
  <title>Mehmet Adamızda mı?</title>
  <meta name="description" content="{{
    islandDesc if mehmet == 'adamizda' else notIslandDesc
  }}">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="https://mehmet.adamizda.com/">
  <link rel="stylesheet" href="static/css/styles.css" />
</head>
<body>
  <main>
    {% if mehmet == 'adamizda' -%}
      <p class="adamizda-text">
        {{- islandText | escape }} &#127965;&#65039;</p>
    {% else %}
      <p class="adamizda-degil-text">
        {{- notIslandText | escape }} &#129394;</p>
    {% endif -%}
  </main>
</body>
</html>
